body {
    background-image: url('images/Netcompany_darkblue.png');
    background-repeat: no-repeat;
    background-position: left 30px bottom 30px;
    background-size: 15%;
}

.reveal section img{
    border: 0;
    margin: 0;
    vertical-align: middle;
}

.reveal .slides section .fragment.visible{
    max-height: 410px;
}

.reveal {
    color: #0F2047 !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: #0F2047 !important;
}